bplist00ß	


/12689/IJ/R_ShowCallForwarded\StockSymboli_MyAccountURLTitle]SupportedSIMs\SupportsNITZWShowTTY[CarrierName\BookmarkURLs\MyAccountURL^ShowDialAssist_VisualVoicemailServiceName_StatusBarImages_IntlDataRoamingSwitch_ShowCallForwarding_voicemail_contextXServices_VVMIgnoresIntlDataRoaming_SupportsUserBusyCauseCodeTapns [Airtel Live¯ !"#$%&'()*+,-.U40410U40492U40440U40431U40490U40498U40449U40445U40494U40495U40402U40496U40497U40554U40470U40493U40551U40403U40552U40453U40556U40416U40555	VAirTel¡3Ò456[BookmarkURL\BookmarkName_http://live.airtelworld.comTnone£:BEÔ;<=>?@\DefaultImage_FullScreenOpaqueImage_AllowPrefixMatching_!Default_CARRIER_Bharti AirTel.pngZIND AIRTEL_FSO_CARRIER_Bharti AirTel.pngÔ;<=>C@]Bharti AirTelÔ;<=>1@	